<div class="row">
  <div class="col-sm-6">
    <div class="player-hand">
      <h3>Cards Player</h3>
      <div class="row card-stack">
        <%= show_cards(:player_cards) %>
      </div>
    </div>

    <% if session[:game_state] == :player_turn %>
      <div class="row">
        <div class="col-xs-2">
          <form id="hit" action="/game/player/hit" method="POST">
            <button class= "btn btn-success btn-large">Hit</button>
          </form>
        </div>

        <div class="col-xs-2">
          <form id="stay" action="/game/player/stay" method="POST">
            <button class= "btn btn-warning btn-large">Stay</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <div class="dealer-hand">
      <h3>Cards Dealer</h3>
      <div class="row card-stack">
        <% if session[:game_state] == :player_turn %>
          <%= show_cards(:dealer_cards, false) %>
        <% else %>
          <%= show_cards(:dealer_cards, true) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
