body {
  background: green;
  min-width: 400px;
}

.container {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.well {
  background-color: darkgreen;
  color: black;
  float: left;
  margin: 0 5px;
}

.row {
  margin-top: 10px;
}

.player-hand,
.dealer-hand {
  border: 1px dashed black;
  margin: 5px;
  padding: 5px 25px 20px;
}

.player-hand img {
  height: 10em;
}

.dealer-hand img {
  height: 10em;
}

h3 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1.5em;
  color: black;
  margin: 0.5em 0;
}

.card-border {
  border: 1px solid #000;
  -webkit-box-shadow: -6px 8px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    -6px 8px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         -6px 8px 5px 0px rgba(50, 50, 50, 0.7);
  height: 300px;
}

.cards {
  float: left;
  margin-right: -50px;
}
 .card-stack {
  margin: 0 auto;
 }

.img-xs {
  height: 150px;
}